<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>银行身份登录入口</title>
  <link rel="stylesheet" href="./lib/element-ui.css">
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <el-container id="app">
    <el-main>
      <el-row id="username">
        <el-col :span="12" :offset="6">
          <el-input v-model="username" placeholder="用户名"></el-input>
        </el-col>
      </el-row>
      <el-row id="password">
        <el-col :span="12" :offset="6">
          <el-input v-model="password" placeholder="密码" show-password></el-input>
        </el-col>
      </el-row>
      <el-row id="login">
        <el-col :span="12" :offset="6">
          <el-button @click.prevent="login">登录</el-button>
        </el-col>
      </el-row>

    </el-main>
  </el-container>
</body>

<!-- import Vue before Element -->
<script src="./lib/vue.js"></script>
<!-- import JavaScript -->
<script src="./lib/element-ui.js"></script>
<script src="renderer.js"></script>

</html>